<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeaveTracker.Properties.Settings.LeaveTrackerConnectionString"
            connectionString="Data Source=Horcrux-MSI\LEAVETRACKER;Initial Catalog=LeaveTracker;Persist Security Info=True;User ID=sa;Password=leavetracker"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>